<footer>

  <div class="row" style="height: 100%;">
    <div class="col-md-12" style="height: 100%;">

      <div class="row" style="height: 100%;">

        <div class="col-md-6 copyright-cont" style="height: 100%;">
          <p>Copyright &copy; Marteen</p>
        </div>

        <div class="col-md-6 social-media-icons" style="height: 100%;">
          <a target="_blank" href="https://github.com/medev21" title="Github"><i class="fa fa-github fa-3x"></i></a>
          <a target="_blank" href="https://www.linkedin.com/in/medev21" title="Linkedin"><i class="fa fa-linkedin fa-3x"></i></a>
        </div>

      </div>

    </div>
  </div>


</footer>
