<footer>
  <p>Copyright &copy; Marteen</p>
  <div class="social-media-icons">
    <a target="_blank" href="https://github.com/medev21" title="Github"><i class="fa fa-github fa-3x"></i></a>
    <a target="_blank" href="https://www.linkedin.com/in/medev21" title="Linkedin"><i class="fa fa-linkedin fa-3x"></i></a>
  </div>
</footer>
