<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <%# <h1>Hello, world!</h1>%>
    <% include partials/header.ejs %>

      <header>
        <div class="header-content">
           <div class="header-content-inner">
               <h1><%= title %></h1>
               <a href="#main" class="btn btn-primary btn-xl page-scroll">Learn how</a>
           </div>
       </div>
      </header>

      <section id="main">
        <div class="container">
          <div class="row">
            <% for(var i=0; i < worldcups.length; i++){ %>
              <a href="/world_cup_single/<%= worldcups[i].year %>">
                <div class="col-sm-4">
                  <img src="images/<%= worldcups[i].poster %>" alt="" class="img-responsive img-rounded poster"/>
                  <div class="poster-overlay">
                    <h2><%= worldcups[i].year %></h2>
                    <h3>View More <i class="fa fa-arrow-right"></i>
                  </div>
                </div>
              </a>
            <% } %>
          </div>
        </div>
      </section>



    <% include partials/script.ejs %>
  </body>
</html>
