<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <%# <h1>Hello, world!</h1>%>
    <% include partials/header.ejs %>

      <header>
        <div class="header-content">

        </div>
      </header>

      <section id="main">
        <div class="container">
          <div class="row">
            <% for(var i=0; i < worldcups.length; i++){ %>
              <div class="col-sm-4">
                <img src="images/<%= worldcups[i].poster %>" alt="" class="img-responsive img-rounded poster"/>
              </div>
            <% } %>
          </div>
        </div>
      </section>



    <% include partials/script.ejs %>
  </body>
</html>
