<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <% include partials/header.ejs %>
    <header style="background-image: url('/images/notFound_img.jpg %>');">
      <div class="header-content">
         <div class="header-content-inner">
             <h1><%= title %></h1>
         </div>
     </div>
    </header>

    <% include partials/script.ejs %>
  </body>
</html>
