<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <% include partials/header.ejs %>
    <header>
      <div class="header-content">
         <div class="header-content-inner">
             <h1><%= title %></h1>
             <%# <a href="#main" class="btn btn-primary btn-xl page-scroll">Learn how</a>%>
         </div>
     </div>
    </header>

    <% include partials/script.ejs %>
  </body>
</html>
